/* 
========================================
  Custom Styles
========================================
*/
html {
  height: 100%;
}
body {
	background-image: url("../images/dust_scratches.png");
	background-size: 100%;
	min-height: 100%;
	width: 100%;
	position: absolute;
	height: auto;
}
/*
 ========================================
  Typogrophy
 ========================================
*/
h1 {
	font: 700 22px/26px Georgia, Times, "Times New Roman", serif;
}
h2 {
	font: 700 20px/24px Georgia, Times, "Times New Roman", serif;
}
h3 {
	font: 700 18px/24px Georgia, Times, "Times New Roman", serif;
}
h2,
h3 {
	color: #4aaaa5;
}
p,
label,
textarea {
	font: 300 14px/20px 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
	padding: 10px 5px;
}
p {
	line-height: 150%;
}

small {
	font: 300 10px/14px 'Georgia', Times, Times New Roman, serif;
	color: #fff;
}
.submit-button {
	color: #fff;
	font: 300 14px/20px 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.text-wrap {
	left: 5px;
}
form {
	padding: 2px 8px;
	position: static;
}
input,
textarea {
	display: block;
	width: 95%;
	padding: 10px 5px;
	margin: 0px 5px;
}
textarea {
	height: 120px;
}

/*
 ========================================
  Clearfix
  ========================================
*/
#profile-photo:before,
#profile-photo:after {
	content: "";
	display: table;
}
#profile-photo:after {
	clear: both;
}
#profile-photo {
	clear: both;
	zoom: *1;
}
/*
 ========================================
  Grid
  ========================================
*/
.container {
	width: 960px;
	height: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 90px;
	margin-bottom: 120px;
	
}
.primary-box {
	width: 65%;
	height: auto;
	float: left;
	background: #fff;
	padding: 10px 5px;
	margin: 20px 5px 20px;
	border: solid;
	border-color: #ccc;
	border-width: 1px;
}
.primary-box-tall {
	width: 65%;
	height: auto;
	float: left;
	background: #fff;
	padding: 15px 5px;
	border: none;
	margin: 20px 5px 30px;
	border: solid;
	border-color: #ccc;
	border-width: 1px;	
}
aside {
	width: 30%;
	float: left;
	background: #fff;
	padding: 5px;
	margin: 20px 5px 2px;
	border: solid;
	border-color: #ccc;
	border-width: 1px;
	text-align: center;
}
small {
	display: block;
	padding: 35px;
	text-align: center;
}
#headerbar {
	background: #FFF;
	width: 100%;
	height: 86px;
	border: solid;
	border-color: #ccc;
	position: absolute;
	top: -3px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-width: 1px;
	margin-bottom: 5px;
}
#head-container {
	display: block;
	position: relative;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}
#footerbar {
	display: block;
	position: absolute;
	background: #727272;
	bottom: -100px;
	height: 86px;
	border: solid;
	border-color: #4aaaa5;
	border-bottom: none;
	border-right: none;
	border-left: none;
	border-width: 5px;
	font: white;
	width: 100%;
}
.primary-box-heading {
	background-color: #fff;
	position: relative;
	border-bottom: solid;
	border-bottom-color: #ccc;
	border-width: 1px;
	width: 97%;
	text-align: left;
	text-indent: 10px;
	padding: 5px 0 15px 0;
	margin: 0 auto;
}
.box-heading {
	display: block;
	background-color: #fff;
	position: relative;
	border-bottom: solid;
	border-bottom-color: #ccc;
	border-width: 1px;
	width: 97%;
	padding: 5px 0 10px 0;
	margin: 0 auto;
}
#1-3-grid {
	position: relative;
	padding: 20px 0;
	margin-left: auto;
	margin-right: auto;
}

.photo-text {
	display: inline;
	background: #4aaaa5;
	padding: 7px 0;
	margin: 0;
	width: 93.5%;
	font: 300 20px/26px Georgia, Times, "Times New Roman", serif;
	color: #eee;
	text-align: center;
	z-index: 3;
	position: absolute;
	bottom: 30px;
}
.portfolio-image-div {
	position: relative;
	display: inline-block;
	height: auto;
	width: 45%;
	top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 8px 10px;
}
.photo-text {
	display: inline;
	background: #4aaaa5;
	padding: 7px 0;
	margin: 0;
	width: 93.5%;
	font: 300 20px/26px Georgia, Times, "Times New Roman", serif;
	color: #eee;
	text-align: center;
	z-index: 3;
	position: absolute;
	bottom: 30px;
}
/*
 ========================================
  Images
  ========================================
*/
.social-logo {
	float: left;
	width: 28%;
	height: auto;
	padding: 5px;
}
#profile-photo {
	float: left;
	position: relative;
	display: inline-block;
	width: auto;
	height: 175px;
	padding: 15px 10px;
}
.portfolio-image {
	padding: 10px 0 10px 0;
	z-index: 2;
	position: relative;
	width: 100%;
	height: auto;
}
/*
 ========================================
  Navigation
  ========================================
*/
.navigation {
	color: #777;
	display: inline-block;
	font: 300 16px/18px Georgia, Times, "Times New Roman", serif;
	position: absolute;
	padding: 25px 0;
	text-decoration: none;
	width: auto;
	right: 15px;
}
/*
 ========================================
  Header
  ========================================
*/
logo {
	display: inline-block;
	background: #4aaaa5;
	padding: 30px 15px;
	font: small-caps 700 20px/26px Georgia, Times, "Times New Roman", serif;
	color: #eee;
	text-align: center;
	position: relative;
	
}
/*
 ========================================
  Buttons
  ========================================
*/
.button {
	padding: 3px 0 3px 15px;
	margin: 0;
}
.border-right {
	-webkit-border-right: solid;
		-moz-border-right: solid;
			border-right: solid;
	padding: 3px 15px;
	border-color: #ccc;
	border-width: 1px;
}
.submit-button {
	position: relative;
	height: 30px;
	width: 100px;
	padding:0;
	border: 0;
	margin: 0;
	background-color: #4aaaa5;
	text-align: center;
}
/*
 ========================================
  Links
  ========================================
*/

a {
	color: #777;
	text-decoration: none;
}
a:hover {
	color: #323232;
}
img {
    -webkit-filter: brightness(100%);
}

a img:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
/*
 ========================================
  Media Queries
  ========================================
*/

@media screen and (max-width: 980px) {
	body {
		width: 100%;
	}
	#footerbar,
	.container {
		width: 100%;
		font-size: 100%;
	}
	.social-logo {
		width: 22%;
		padding: 2px;
	}
	.box-heading {
		text-align: left;
	}
	#headerbar {
		position: static;
		height: auto;
	}
	#head-container {
		width: 100%;
		height: auto;
	
	}
	.portfolio-image-div {
		width: 99%;
		display: block;
	}
	#profile-photo {
		display: block;
		float: none;
		margin: auto;
		height: 200px;
	}
}
@media screen and (max-width: 768px) {	
	body {
		padding: 5px;
		width: 100%;
	}
	#footerbar,
	.container,
	.primary-box,
	.primary-box-tall,
	aside {
		width: 100%;
		font-size: 150%;
	}
	.social-logo {
		width: 12%;
		padding: 2px;
	}
	.box-heading {
		text-align: left;
	}
	#headerbar {
		position: static;
		height: auto;
	}
	#head-container {
		width: 100%;
		height: auto;
	
	}
	#profile-photo {
	float: left;
	position: relative;
	display: inline-block;
	width: auto;
	height: 175px;
	padding: 15px 10px;
	}
	.portfolio-image-div {
	position: relative;
	display: inline-block;
	height: auto;
	width: 45%;
	top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 8px 10px;
	}	
}
@media screen and (max-width: 640px) {	
	body {
		width: 100%;
		padding: 5px;
	}
	#footerbar,
	.container,
	.primary-box,
	.primary-box-tall,
	aside {
		width: 100%;
		font-size: 150%;
	}
	.social-logo {
		width: 12%;
		padding: 2px;
	}
	.box-heading {
		text-align: left;
	}
	#headerbar {
		position: static;
		height: auto;
	}
	#head-container {
		width: 100%;
		height: auto;
	
	}
	logo {
		width: 100%;
		display: block;
		text-align: center;
	}
	.navigation {
		width: 100%;
		display: block;
		height: auto;
		text-align: center;
	}
	
	.portfolio-image-div {
		width: 99%;
		display: block;
	}
	#profile-photo {
		display: block;
		float: none;
		margin: auto;
		height: 200px;
	}
}


